<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, sapiente inventore quisquam officia facilis
            eveniet quas debitis. Nihil consequatur repudiandae, facere itaque, hic asperiores omnis reiciendis amet dolorum
            provident molestiae non eaque architecto cupiditate quo? Unde illum quis incidunt adipisci!
        </p>
        
        
    </div>
</div>