<div class="jumbotron mt-4">
    <h1 class="display-4">About</h1>
    <hr class="my-3">
    <p class="text-center">Técnologías utilizadas para el projecto.<p>
    <table class="table table-striped table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">Tecnología</th>
                <th scope="col">Sobre</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>NodeJS</td>
                <td>Entorno de ejecución de JavaScript asincrónico controlado por eventos</td>
            <tr>
                <td>MongoDB</td>
                <td>Sistema de base de datos NoSQL</td>
            </tr>
            <tr>
                <td>ExpressJS</td>
                <td>Framework de aplicaciones web NodeJS</td>
            </tr>
            <tr>
                <td>Mongoose</td>
                <td>Librería object-document mapping (ODM) para MongoDB</td>
            </tr>
            <tr>
                <td>Express-Handlebars</td>
                <td>Lenguaje de plantillas con esteroides(.hbs)</td>
            </tr>
            <tr>
                <td>Express-Session</td>
                <td>Middleware de sesión para Express</td>
            </tr>
            <tr>
                <td>Connect-Flash</td>
                <td>Middleware de mensajes flash</td>
            </tr>
            <tr>
                <td>Method-Override</td>
                <td>Middleware que permite usar verbos HTTP como PUT o DELETE en lugares donde el cliente no lo admite
                </td>
            </tr>
            <tr>
                <td>Passport</td>
                <td>Middleware de autenticación para NodeJS</td>
            </tr>
            <tr>
                <td>Passport-Local</td>
                <td>Estrategia de "Passport" para la autenticación con usuario y contraseña</td>
            </tr>
            <tr>
                <td>BcryptJS</td>
                <td>Función de hash de contraseña</td>
            </tr>
            <tr>
                <td>Bootstrap</td>
                <td>Biblioteca para diseño de sitios y aplicaciones web</td>
            </tr>
        </tbody>
    </table>
    <div class="centrar">
        <a href="https://github.com/gatocrack0" class="btn btn-light btn-lg">Github</a>
    </div>
</div>