<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App with <img src="/img/nodejslogo.png" class="logo"> <img src="/img/mongodblogo.png" class="logo"><img src="/img/expresslogo.png" class="logo"></h1>
    <hr class="my-3">
    <p class="text-center">Crea tus notas personales y almacenalas en la nube para ser visualizadas cuando quieras y donde quieras.
    </p>
    <div class="centrar">
        <a href="/about" class="btn btn-light btn-lg">About</a>
    </div>
</div>