body {
    background: #393e46;
}

.bg-dark {
    background-color: #222831!important;
}

.logo {
    width: 10%;
}

.jumbotron {
    background-color: #eeeeee;
}

.btn-light {
    background-color: #00adb5;
    border-color: #eeeeee;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar-brand{
    padding-top: 0;
}

.display-4{
    text-align: center;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.blanco{
    color: #eeeeee;
}

