body {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-dark {
    background-color: #2193b0!important;
}

.logo {
    width: 10%;
}

.jumbotron {
    background-color: #eeeeee;
}

.btn-light {
    background-color: #00adb5;
    border-color: #eeeeee;
}

.centrar {
    display: flex;
    justify-content: center;
    align-items: center
}

.navbar-brand{
    padding-top: 0;
}

.display-4{
    text-align: center;
}

.footer{
    bottom: 0;
    position: fixed;
    width: 100%;
}

.blanco{
    color: #eeeeee;
}

